<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
     <div class="form-control">
      <label for="text">Task</label>
      <input type="text" name="text" id="text" placeholder="Add-Task" [(ngModel)]="text"/>
     </div>
     <div class="form-control">
     <label for="day">date & Time</label>
     <input type="text" name="day" id="day" placeholder="Add-Date & Time" [(ngModel)]="day"/>
     </div>
     <div class="form-control form-control-check">
     <label for="remainder">set Reminder</label>
     <input type="checkbox" name="remainder" id="remainder" [(ngModel)]="reminder"/>
     </div>
     <input type="submit" value="Save Task" class="btn btn-block">
</form>